
<% @title="You're welcome to Gamalino's News " %>

<br>
<h2 id="article_title" >Recent Articles</h2>
<br>
<% @posts.each do |post| %>
  <div class="card" id="articles_bg">
    <div class="card-header" class="container">
      <span id="category"><%=post.category.name %></span><br>
    </div>


    <div class="container">
    <div class="container">
    <div class="card-body">
      <h5 class="card-title" id="article_titles"><%= post.title.titleize  %></h5>
      <p class="text-secondary card-text"><%= truncate(post.content.capitalize, :length => 500) %></p>
      <a href="<%= post_path(post) %>" class="btn btn-outline-secondary">Read more</a><br>
    </div >
    </div>
    </div>


    </div>
      <% end %>

